@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
  --color-danger: #EF4444;
  --color-background: #F3F4F6;
  --color-surface: #FFFFFF;
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-gray-900 font-sans antialiased;
  }
}